* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
                                                        GENERIC CLASS
*/

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.container {
    width: 100%;
}

.main-container {
    width: 96%;
    margin: 0 auto;
}

.txt-end {
    text-align: end;
}

.txt-center {
    text-align: center;
}

.border-radius {
    border-radius: 50%;
}



.long {
    width: 60%;
    margin: 0 1rem;
}

.mini {
    width: 20%;
}


/*
                                                GENERIC CLASS FOR COLOR AND BACKGROUND COLOR
*/
.color-brown-font {
    color: #717171;
}

.color-white {
    color: white;
}

/*
                                                        END GENERIC CLASS
*/


/*
                                                        GENERIC ELEMENT
*/

/*Background color for body*/
body {
    background-color: #202020;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/*Generic formatting button*/
button {
    padding: 1rem;
    border: none;
    border-radius: 20px;

    cursor: pointer;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}





/*
                                                        END GENERIC CLASS
*/

/*
                                                        HEADER
*/

/*HEADER*/
header {
    width: 200px;
    height: calc(100vh - 60px);

    background-color: black;

    padding: 1rem;

    min-width: 200px;

    overflow-y: auto;
}

/*Header container*/
header div.container {
    width: 100%;
}

/*Logo*/
header div.logo {
    height: 60px;
    width: 80%;
    margin-bottom: .5rem;
}

/*Navigation bar*/
header nav.nav {
    margin-bottom: 1rem;
}

/*for correct spacing*/
header nav ul li {
    padding-bottom: 1rem;
}

/*Decoration none for element a, in the nav bar
color a*/
header ul li a {
    text-decoration: none;
    color: #717171;
}

/*Hover of a*/
header ul li a:hover {
    color: white;
    padding: .5rem;
    border-left: 3px solid green;
}

/*Padding bottom for h2, child of nav.playlist*/
header nav.playlist>h2 {
    padding-bottom: 1rem;
}

/*For correct spacing*/
header nav.playlist>div.crete-playlist {
    margin-bottom: 1rem;
}

/*box for the first-child of div create*/
header nav.playlist>div.crete-playlist button {
    padding: 1rem;
    background-color: #a1a1a1;
    border-radius: 0px;

    margin-right: .5rem;

}


/*box users and install app*/
header div.user {
    margin-top: 10rem;
}

/*color of a*/
header div.user a {
    color: #717171;
}


/*color a in hover*/
header div.user a:hover {
    color: white;
}


/*header nascosto*/
aside.none {
    display: none;
    background-color: black;
    width: 50px;
}

aside.none div {
    font-size: 2rem;
    padding: .3rem 0;
}


/*
                                                        END HEADER
*/

/*
                                                        MAIN
*/
main {
    background-color: #1c1e26;
    width: calc(100% - 200px);
    height: calc(100vh - 60px);

    overflow-y: scroll;
}

/*
                                                        SECTION UPGRADE
*/
/*first section in the page for upgrade*/
section.upgrade {
    background-color: #121319;
    height: 80px;
    width: 100%;
}

/*div button for height of parent (for flex center)*/
section.upgrade div.button {
    height: 100%;
    padding-right: 2rem;
}

/*
                                                        END SECTION UPGRADE
*/

/*
                                                        SECTION NAV-CONTENT
*/

/*Section nav, for category*/
section.nav-content {
    background-color: beige;
    border: 1px solid black;
    width: 70%;

    margin: 0 auto;
}

/*
                                                        END SECTION NAV-CONTENT
*/

/*
                                                        SECTION MAIN-VIEW
*/

section.main-view {
    padding: 1rem;
}

/*padding for h2 element child of section main view*/
section.main-view>h2 {
    padding-bottom: 1rem;
}

/*box per le canzoni*/
section.main-view div.card {
    width: calc((100% / 6) - .5rem);
    border: 1px solid black;
    margin-right: .5rem;
    margin-bottom: 1rem;
}

/*Grandezze dell'immagine nella carta*/
section.main-view div.card div.img img {
    max-width: 100%;
}

/*for control display of p in div image*/
section.main-view div.card div.img p {
    display: none;
}

/*for control display of p in div image*/
section.main-view div.card div.img:hover p {
    display: block;
}

/*for change color of image*/
section.main-view div.card div.img:hover {
    opacity: 50%;
}

/*Box di testo sopra i box delle canzoni*/
section.main-view div.txt {
    margin: 1rem 0;
    width: 100%;
}

/*
                                                       END SECTION MAIN-VIEW
*/

/*
                                                        END MAIN
*/

/*
                                                        FOOTER
*/
footer {
    height: 60px;

    background-color: brown;

    position: relative;
    z-index: 3;
}


footer div.box {
    background-color: beige;
    border: 1px red dotted;

    height: 80%;
}


.border {
    border: 1px solid black;
    width: 33%;
}

/*Footer box middle with player*/
footer div.long>div.player {
    width: 100%;
    height: calc(100% / 2);
    border: 1px solid black;
}

/*For remove padding at the button*/
footer div.long>div.player button {
    padding: 0;
}

/*Margine per i pulstanti del player*/
footer div.long>div.player li {
    margin-right: .5rem;
}

/*Barra del player*/
footer div.long>div.player:last-child div {
    border: 1px solid black;
    width: 100%;
    height: 5px;
    border-radius: 20px;
}

/*span nel player*/
footer div.long>div.player:last-child span {
    padding: 0 .5rem;
}

footer div.long>div.player:last-child div.bar {
    background-color: red;
    width: 60%;
    height: 100%
}

footer div.long>div.player:last-child div.bar:last-child {
    background-color: grey;
    width: 40%;
}

/*Formattazione dell'ultimo box*/
footer div.box:last-child>span {
    padding-right: .5rem;
}

/*
                                                        END FOOTER
*/




/*
                                                    MEDIA QUERY
*/

/*medium*/
@media only screen and (max-width: 992px) {
    body {
        background-color: red;
    }

    /*
    -----> SECTION NAV-CONTENT
    */

    section.nav-content ul {
        flex-wrap: wrap;
    }

    /*li Va a capo in centro*/
    section.nav-content li {
        margin: 0 auto;
        padding-bottom: 1rem;
    }

    section.main-view>div.row {
        flex-wrap: wrap;
    }

    /*
    -----> END SECTION NAV-CONTENT ------------------------------------------------------------------------------------
    */


    /*
    -----> SECTION NAV-CONTENT
    */
    section.main-view div.card {

        width: calc((100% / 4) - .5rem);
    }

    /*
    -----> END SECTION MAIN-VIEW ------------------------------------------------------------------------------------
    */
}

/*small*/
@media only screen and (max-width: 768px) {
    body {
        background-color: yellow;
    }

    section.main-view div.card {

        width: calc((100% / 2) - .5rem);
    }
}


/*x-small*/
@media only screen and (max-width: 576px) {
    body {
        background-color: aqua;
    }

    /*HEADER AND ASIDE, SHOW AND HIDDEN*/
    header {
        display: none;
    }

    aside.none {
        display: block;
    }

    /*
    MAIN
    */
    main {
        width: calc(100% - 50px);
    }

}