*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
                                                        GENERIC CLASS
*/

.flex{
    display: flex;
}

.flex-align-center{
    align-items: center;
}

.flex-justify-center{
    justify-content: center;
}

.flex-end{
    justify-content: flex-end;
}

.container{
    width: 100%;
}

.txt-end{
    text-align: end;
}


/*
                                                GENERIC CLASS FOR COLOR AND BACKGROUND COLOR
*/
.color-red{
    color: red;
}
/*
                                                        END GENERIC CLASS
*/


/*
                                                        GENERIC ELEMENT
*/

/*Generic formatting button*/
button{
    padding: 1rem;
    border: none;
    border-radius: 20px;

    cursor: pointer;
}


/*
                                                        END GENERIC CLASS
*/

/*
                                                        HEADER
*/
header{ 
    width: 200px;
    height: calc(100vh - 60px);
    
    flex-grow: 1;

    background-color: black;

    padding: 1rem;

    min-width: 200px;
}

/*Header container*/
header div.container{
    width: 100%;
}

/*Logo*/
header div.logo{
    height: 60px;
    
    background-color: beige;
    border: 1px solid black;

    margin-bottom: .5rem;
}

/*Navigation bar*/
header nav.nav{
    background-color: beige;
    margin-bottom: 1rem;
}

/*for correct spacing*/
header nav ul li{
    padding-bottom: 1rem;
}

/*Decoration none for element a, in the nav bar*/
header ul li a{
    text-decoration: none;
}

/*Padding bottom for h2, child of nav.playlist*/
header nav.playlist>h2{
    padding-bottom: 1rem;
}

/*For correct spacing*/
header nav.playlist>div.crete-playlist {
    margin-bottom: 1rem;
}

/*box for the first-child of div create*/
header nav.playlist>div.crete-playlist button{
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0px;

    margin-right: .5rem;
    
}


/*box users and install app*/
header div.user{
    background-color: beige;
    border: 1px solid black;

    margin-top: 12rem;
}

/*Decoration none for a element*/
header div.user a{
    text-decoration: none;
}

/*
                                                        END HEADER
*/

/*
                                                        MAIN
*/
main{
    background-color: aquamarine;
    width: calc(100% - 200px);
    height: calc(100vh - 60px);
    
    overflow-y: scroll;
}

/*
                                                        SECTION UPGRADE
*/

section.upgrade{
    background-color: #121319;
    height: 80px;
}

/*div button for height of parent (for flex center)*/
section.upgrade div.button{
    height: 100%;
    padding-right: 2rem;
}
/*
                                                        END SECTION UPGRADE
*/

/*
                                                        SECTION MAIN-VIEW
*/

section.main-view{
    padding: 1rem;
}
/*box per le canzoni*/
main div.card{
    width: 150px;
    height: 150px;

    background-color: white;
    border: 1px solid black;

    margin-right: 2%;
}

/*
                                                       END SECTION MAIN-VIEW
*/

/*
                                                        END MAIN
*/

/*
                                                        FOOTER
*/
footer{
    width: 100%;
    height: 60px;

    background-color: brown;

    position: fixed;
    z-index: 3;
}

/*
                                                        END FOOTER
*/