* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*
                                                        GENERIC CLASS
*/

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.container {
    width: 100%;
}

.main-container {
    width: 96%;
    margin: 0 auto;
}

.txt-end {
    text-align: end;
}

.txt-center {
    text-align: center;
}

.border-radius {
    border-radius: 50%;
}

.font-size-large{
    font-size: 1rem;
}

.long {
    width: 60%;
    margin: 0 1rem;
}

.mini {
    width: 30%;
}


/*
                                                GENERIC CLASS FOR COLOR AND BACKGROUND COLOR
*/
.color-brown-font {
    color: #717171;
}

.color-white {
    color: white;
}

/*
                                                        END GENERIC CLASS
*/


/*
                                                        GENERIC ELEMENT
*/

/*Background color for body*/
body {
    background-color: #202020;
    color: #717171;
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    font-weight: bold;
}

/*Generic formatting button*/
button {
    padding: 1rem;
    border: none;
    border-radius: 20px;

    cursor: pointer;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #717171;
}

h2,
h3{
    color: white;
}





/*
                                                        END GENERIC CLASS
*/

/*
                                                        HEADER
*/

/*HEADER*/
header.header-full {
    width: 200px;
    height: calc(100vh - 100px);

    background-color: black;

    min-width: 200px;

    overflow-y: auto;
}

/*Header container*/
header div.container {
    width: 100%;
}

header div.container:last-child{
    padding: 1rem;
}

/*Logo*/
header div.logo {
    height: 60px;
    width: 80%;
    margin-bottom: .8rem;
    padding: 1rem;
}

/*Navigation bar*/
header nav.nav {
    margin-bottom: 1rem;
}

/*for correct spacing*/
header nav ul li {
    padding-bottom: .8rem;
}

header nav li a,
header h2{
    padding: 0 1rem;
}

/*Formatting img in a element*/
header ul li a img {
    width: 25px;
    margin-right: .4rem;
}

/*Hover of a*/
header ul li a:hover {
    color: white;
    border-left: 5px solid #d0ff53;
}

/*Padding bottom for h2, child of nav.playlist*/
header nav.playlist>h2 {
    padding-bottom: 1rem;
}

/*For correct spacing*/
header nav.playlist>div.crete-playlist {
    margin-bottom: 1rem;
}

/*Hover bottom*/
header nav.playlist>div.crete-playlist:hover div {
    color: white;
}

/*box for the first-child of div create*/
header nav.playlist>div.crete-playlist button {
    padding: 1rem;
    background-color: #a1a1a1;
    border-radius: 0px;
    margin-left:1rem;

    margin-right: .5rem;

}

/*for correct spacing*/
header div.user span{
    padding-left: .5rem;
}

header div.user p:last-child {
    font-size: 2rem;
}

/*Margin for hr*/
header div.user hr {
    margin: .3rem 0;

}

/*color a in hover*/
header div.user a:hover {
    color: white;
}


/*header nascosto*/
header.header-mini {
    display: none;
    background-color: black;
    width: 50px;
}

header.header-mini div>img {
    margin-top: .5rem;
    width: 60%;
}


/*ain
                                                        END HEADER
*/

/*
                                                        MAIN
*/
main {
    background-color: #1c1e26;
    width: calc(100% - 200px);
    height: calc(100vh - 100px);

    overflow-y: scroll;
}

/*
                                                        SECTION UPGRADE
*/
/*first section in the page for upgrade*/
section.upgrade {
    background-color: #121319;
    height: 80px;
    width: 100%;
}

/*div button for height of parent (for flex center)*/
section.upgrade div.button {
    height: 100%;
    padding-right: 2rem;

}

/*Formatting button*/
section.upgrade div.button>button {
    border: 1px solid white;
    color: white;
    background-color: #121319;
    font-size: .8rem;
    font-weight: bold;
    padding: .7rem 2.5rem;
}

/*Button in Hover*/
section.upgrade div.button>button:hover{
    font-size: 1rem;
}


/*
                                                        END SECTION UPGRADE
*/

/*
                                                        SECTION NAV-CONTENT
*/

/*Section nav, for category*/
section.nav-content {
    width: 70%;
    padding-top: .4rem;

    margin: 0 auto;
}

section.nav-content li{
    text-align: center;
    padding-right: .2rem;
}

/*Color a in Hover, and border bottom*/
section.nav-content a:hover {
    color: white;
    border-bottom: 2px solid #d0ff53;
}

/*
                                                        END SECTION NAV-CONTENT
*/

/*
                                                        SECTION MAIN-VIEW
*/

section.main-view {
    padding: 1rem;
}

/*padding for h2 element child of section main view*/
section.main-view div.title-row>h2 {
    padding-bottom: .8rem;
    font-size: 2rem;
}

/*Box di testo sopra i box delle canzoni*/
section.main-view div.title-row {
    margin: 1rem 0;
    width: 100%;
}

/*box per le canzoni*/
section.main-view div.card {
    width: calc((100% / 6) - .5rem);
    margin: 0 .5rem 1rem 0;
}

/*Grandezze dell'immagine nella carta*/
section.main-view div.card div.img img {
    max-width: 100%;
}

/*for control display of p in div image*/
section.main-view div.card div.img p {
    display: none;
    font-size: 4rem;
}


/*for control display of p in div image*/
section.main-view div.card div.img:hover p {
    display: block;
}

/*for change color of image*/
section.main-view div.card div.img:hover {
    opacity: 50%;
}


/*Description div card*/
section.main-view div.card div.description h3,
section.main-view div.card div.description p {
    padding-top: .5rem;
    font-size: 1rem;

}

/*Possibile metterlo internamente nell'index*/
section.main-view div.card div.description p {
    color: #717171;

}

/*Font and padding for p elemtent child of div row*/
section.main-view div.row p {
    padding: 0 0 1rem 0;
}


/*
                                                       END SECTION MAIN-VIEW
*/

/*
                                                        END MAIN
*/

/*
                                                        FOOTER
*/
footer {
    height: 100px;
    background-color: #2c2c2c;
}


footer div.box {
    border: 1px red dotted;

    height: 90%;
}

/*Formatting img in div box*/
footer div.box img {
    width: 50px;
    height: 50px;
}

/*For correct spacing*/
footer div.img-description {
    padding: 0 1rem;
}

/*Formatting icon in div icon*/
footer div.icon i {
    font-size: 1.3rem;
    padding-left: .8rem;
    color: #717171;
}

footer div.icon i:hover {
    color: white;
}


/*
    --------->                              FOOTER MIDDLE BOX
*/
/*Footer box middle with player*/
footer div.long>div.player {
    width: 100%;
    height: calc(100% / 2);
    border: 1px solid black;
}

/*For remove padding at the button*/
footer div.long>div.player button {
    padding: 0;
    border: none;
    background-color: #2c2c2c;
    color: white;
}

/*Formatting icon in button*/
footer div.long>div.player button i {
    font-size: 1.3rem;
    padding: 0 .5rem;
}


/*Margine per i pulstanti del player*/
footer div.long>div.player li {
    margin-right: .5rem;
    display: inline;
}

/*Barra del player*/
footer div.long>div.player:last-child div {
    border: 1px solid black;
    width: 100%;
    height: 5px;
    border-radius: 20px;
}

/*span nel player*/
footer div.long>div.player:last-child span {
    padding: 0 .5rem;
}

footer div.long>div.player:last-child div.bar {
    background-color: #c8c8c8;
    width: 60%;
}

/*circle in bar of time*/
footer div.long>div.player:last-child div>span.circle {
    display: block;
    padding: .5rem;
    border-radius: 50%;
    background-color: white;
}

/*bar in hover*/
footer div.long>div.player:last-child div.bar:hover {
    background-color: #1db954;
}

footer div.long>div.player:last-child div.bar:last-child {
    background-color: #5d5d5d;
    width: 40%;
}

/*Formattazione dell'ultimo box*/
footer div.box:last-child>span.time {
    padding-right: .5rem;
}

footer div.box:last-child>div {
    height: .25rem;
    padding-right: 1rem;
}

/*Bar volume in the last div.box*/
footer div.box:last-child div.bar {
    background-color: #c8c8c8;
    height: 100%;
    width: 2rem;
}

/*For correct spacing span*/
footer div.box:last-child span {
    padding-right: .5rem;
}

/*Bar in hover*/
footer div.box:last-child div.bar:hover {
    background-color: #1db954;
}

/*span circle in a bar*/
footer div.box:last-child span.circle {
    display: block;
    padding: .5rem;
    border-radius: 50%;
    background-color: white;
}

/*Bar volume in the last div.box*/
footer div.box:last-child div.bar:last-child {
    background-color: #5d5d5d;
    height: 100%;
    width: 2rem;
}




/*
                                                        END FOOTER
*/




/*
                                                    MEDIA QUERY
*/

/*medium*/
@media only screen and (max-width: 992px) {
    body {
        background-color: red;
    }

    /*
    -----> SECTION NAV-CONTENT
    */

    section.nav-content ul {
        flex-wrap: wrap;
    }

    /*li Va a capo in centro*/
    section.nav-content li {
        margin: 0 auto;
        padding-bottom: 1rem;
    }

    section.main-view>div.row {
        flex-wrap: wrap;
    }

    /*
    -----> END SECTION NAV-CONTENT ------------------------------------------------------------------------------------
    */


    /*
    -----> SECTION NAV-CONTENT
    */
    section.main-view div.card {

        width: calc((100% / 4) - .5rem);
    }

    /*
    -----> END SECTION MAIN-VIEW ------------------------------------------------------------------------------------
    */
}

/*small*/
@media only screen and (max-width: 768px) {
    body {
        background-color: yellow;
    }

    section.main-view div.card {

        width: calc((100% / 2) - .5rem);
    }
}


/*x-small*/
@media only screen and (max-width: 576px) {
    body {
        background-color: aqua;
    }

    /*HEADER AND ASIDE, SHOW AND HIDDEN*/
    header.header-full {
        display: none;
    }

    header.header-mini {
        display: block;
    }

    /*Hover div (icon)*/
    header.header-mini div:hover{
        border-left: 3px solid #1db954;
    }

    /*
    MAIN
    */
    main {
        width: calc(100% - 50px);
    }

}